* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ======== General Styling ========= */

body {
    min-height: 100vh;
    width: 100%;
}
::-webkit-scrollbar {
    width: 0%;
}
:root {
    --tgreen: #87e9cb;
    --drkgreen: #00ce90;
    --grsgreen: #032e21;
}
a { 
    text-decoration: none;
    color: #000000;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.med-trans {
    transition: all 1.00s ease;
}
.flx-displ {
    display: flex;
}
.flx-d-col {
    flex-direction: column;
}
.flx-wrp {
    flex-wrap: wrap;
}
.align-itm-cent {
    align-items: center;
}
.just-cnt-spev {
    justify-content: space-evenly;
}
.just-cnt-spbw {
    justify-content: space-between;
}
.just-cnt-cent {
    justify-content: center;
}

/* ======== Hero content ========= */

.hero {
    width: 100%;
    height: 100vh;
    background: url("hero-bg.jpg") top center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    border-bottom: 1px solid rgb(22, 21, 21);
}
.hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.349);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}
.hero .hero-logo {
    width: 200px;
    border-radius: 50%;
    margin: 20px 0;
}
.hero h1 {
  margin: 0 0 30px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 5px var(--tgreen);
}
.hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
  text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 5px var(--tgreen);
}
.hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 5px;
  transition: 0.5s;
  border: 2px solid var(--tgreen);
  color: #fff;
}
.hero .btn-get-started:hover {
  background: var(--tgreen);
  border: 2px solid var(--tgreen);
  color: rgb(0, 85, 67);
}

/* ======= Header ======= */

header {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: rgb(0, 0, 0);
    color: white;
    transform-style: preserve-3d;
    z-index: 10000;
}
header .h-logo {
    font-size: 1.5em;
    color: var(--tgreen);
}
header #nav-toggle-btn {
    display: none;
    color: white;
    font-size: 1.5em;
    transition: 0.4s;
}
.butt-rot {
    color: var(--drkgreen);
    transform: rotateZ(360deg);
}
header #nav-toggle-btn:hover {
    color: var(--tgreen);
    font-size: 1.5em;
}
header .nav-links {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    transition: all 0.4s;
}
header .nav-links ul {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
header .nav-links li {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header .nav-links a {
    color: white;
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav-links a:hover {
    color: var(--tgreen);
}

/* ======= Nav links Modal ======= */

.modal {
    position: fixed;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000c7;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 100px 50px;
    transform-style: preserve-3d;
    z-index: 11111;
    transition: 0.5s;
    opacity: 0;
}
.links-cont {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #0000004b;
}
.links-cont .nav-links {
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    margin-top: 15px;
}
.links-cont .nav-links ul {
    width: 100%;
    list-style-type: none;
}
.links-cont .nav-links li {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links-cont .nav-links li:hover {
    box-shadow: 0 0 10px #0000004b;
    background-color: #30ce0031;
}
.links-cont .nav-links a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: var(--grsgreen);
    padding: 20px;
}
#mod-exit {
    position: absolute;
    top: 2%;
    right: 6%;
    background-color: var(--drkgreen);
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    box-shadow: 0 0 10px #0000004b;
}
.links-cont p {
    text-align: center;
    font-size: 10px;
    background-color: #000000;
    color: #fff;
    padding: 10px;
}

/* ======= Main ======= */

main {
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about {
    width: 100%;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
}
.about .image {
    margin: 0 10px 20px 10px;
}
.about .image img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}
.about .para {
    text-align: center;
    margin: 0 10px;
    margin-bottom: 20px;
}
.about .para h1 {
    color: var(--drkgreen);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
    text-align: center;
    border-top: 3px solid rgb(163, 180, 175);
    border-bottom: 3px solid rgb(163, 180, 175);
    padding: 10px 0;
    margin: 20px 0;
    letter-spacing: 2px;
}
.about .para h3 {
    color: #032e21;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
    text-align: center;
    padding: 10px 0;
}
.about .para p {
    color: #2e2c2c;
    padding: 0 20px;
}
.soc-med { 
    background: url(bitc.png) top center;
    background-color: #0000007c;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: color;
    position: relative;
    padding: 20px;
    flex-wrap: wrap;
    margin: 20px 0;
    justify-content: center;
}
.soc-med a {
    margin: 10px 55px;
    color: rgb(233, 233, 233);
    font-size: 2em;
    font-weight: 900;
    font-family: cursive;
}
.soc-med a:hover {
    color: #8ff0d3;
    text-shadow: 0 0 10px #87e9cb;
}
.work-displ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 20px;
    max-width: 1000px;
}
.work-displ > h1 {
    color: var(--drkgreen);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    margin: 10px 0;
    padding: 10px 20px;
    border-top: 2px solid rgba(0, 85, 67, 0.425);
    border-bottom: 2px solid rgba(0, 85, 67, 0.425);
}
.work-displ > h3 {
    color: #032e21;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    margin: 15px 0;
}
.card-cont {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.card-link {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    max-width: 250px;
    max-height: 250px;
    transition: 1.00s;
}
.card-link:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}
.card-link img {
    width: 100%;
    height: 100%;
}
.card-link a {
    position: absolute;
    background-color: #2e2c2c7e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.work-displ > h2 {
    color: var(--drkgreen);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    margin: 40px 0 10px 0;
    padding: 10px 20px;
    border-top: 2px solid rgba(0, 85, 67, 0.425);
    border-bottom: 2px solid rgba(0, 85, 67, 0.425);
}
.work-displ .card-cont:nth-child(2) {
    margin-top: 50px;
}
.skill-card {
    max-width: 250px;
    padding: 30px;
    margin: 10px;
    border:  1px solid rgba(0, 0, 0, 0.11);
    transition: 1.00s;
}
.skill-card:nth-child(2) {
    background-color: var(--drkgreen);
}
.skill-card:nth-child(2) h2 {
    color: rgb(255, 255, 255);
}
.skill-card:nth-child(2) p {
    color: rgb(255, 255, 255);
}
.skill-card:hover {
    border:  1px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
}
.skill-card h1 {
    font-size: 5em;
    opacity: 0.4;
}
.skill-card h2 {
    color: #032e21;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    margin: 10px;
    border-top: 2px solid rgba(46, 44, 44, 0.22);
    border-bottom: 2px solid rgba(46, 44, 44, 0.22);
    padding: 10px 0;
}
.skill-card p {
    margin: 10px 0;
    color: #032e21;
    padding: 10px 0;
}
.rev-carousel {
    background: url(carousel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: #000000ce;
    margin: 50px 0 30px 0;
    padding: 20px 0;
}
.carousel-cont {
    overflow: hidden;
}
.carousel-cont, .slide {
    max-width: 650px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crsl-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.411);
    margin: 5px 0;
}
.crsl-titl {
    color: #fff;
    text-shadow: 0 0 5px var(--drkgreen);
    margin: 5px 0;
}
.crsl-para {
    margin: 5px 0;
    text-align: center;
    padding: 0 20px;
}
.slide {
    transform: translateX(50px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    display: none;
    animation: carousel-end 1s ease-in ;
    animation-fill-mode: forwards;
}
.slide.active {
    display: flex;
    animation: carousel 0.5s ease-in ;
    animation-fill-mode: forwards;
}
.dots-cont {
    display: flex;
    margin: 10px 0;
}
/* .dot {
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #b8b8b8;
    border-radius: 50%;
    transition: 1.00s;
}
.dot.active {
    background-color: var(--drkgreen);
    box-shadow: 0 0 10px var(--drkgreen);
} */
.team {
    position: relative;
    width: 100%;
    margin: 25px 0;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-image: url(team-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.team h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    color: var(--drkgreen);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(137, 173, 163, 0.164);
}
.team .team-1 {
    width: 200px;
    height: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.322);
    margin-bottom: 20px;
    border-radius: 5px;
    background-image: url(team-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.team-1 div {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 20px 0;
}
.team-1 div h3 {
    color: var(--drkgreen);
    margin: 10px 0;
}

.pricing {
    margin: 30px 0;
    padding: 20px;
}
.pricing > h2 {
    color: var(--drkgreen);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
    margin: 10px 0;
    border-top: 3px solid rgba(77, 126, 45, 0.412);
    border-bottom: 3px solid rgba(77, 126, 45, 0.412);
    padding: 10px 20px;
}
.pricing .fltr-plans {
    padding: 10px;
    background-color: var(--tgreen);
    border-radius: 5px;
    display: flex;
    margin: 10px 0 20px 0;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    width: 250px;
}
.fltr-plans p {
    color: var(--grsgreen);
}
.fltr-plans .btn-switch {
    background-color: #fff;
    width: 50px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.226);
}
.btn-switch .switch {
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: var(--grsgreen);
    box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.068), -2px -2px 10px #00000042;
    border-radius: 50%;
    transition: 0.40s;
}
.btn-switch .switch.active {
    transform: translateX(25px);
    background-color: var(--drkgreen);
}
.plans-cont {
    max-width: 300px;
    margin: 20px 0;
    align-items: center;
}
.plans-cont .card {
    border: 1px solid rgba(0, 0, 0, 0.11);
    width: 250px;
    height: 600px;
    margin: 20px 0;
    padding: 30px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.116);
    border-radius: 2px;
    background-color: white;
}
.plans-cont .card h2 {
    color: var(--drkgreen);
    text-align: center;
    margin: 10px 30px;
    border-bottom: 3px solid rgba(77, 126, 45, 0.412);
    padding: 0 0 10px 0;
}
.plans-cont .card h3 {
    color: var(--grsgreen);
    text-align: center;
    text-shadow: 0 0 10px #00f7ad70;
    margin: 10px 0 20px 0;
}
.plans-cont .card p {
    margin: 0 10px;
    padding: 10px;
    border-top: 1px solid rgba(77, 126, 45, 0.15);
    border-bottom: 1px solid rgba(77, 126, 45, 0.2);
}
.plans-cont .card p:nth-child(2), .plans-cont .card p:nth-child(4), .plans-cont .card p:nth-child(6), .plans-cont .card p:nth-child(8), .plans-cont .card p:nth-child(10)   {
    background-color: rgba(0, 0, 0, 0.055);
}
.plans-cont .card button {
    border: 2px solid var(--drkgreen);
    color: var(--drkgreen);
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px 20px;
    margin: 20px 0;
    transition: 1.00s;
}
.plans-cont .card button:hover {
    background-color: var(--drkgreen);
    color: #fff;
}
.plans-cont .card.green {
    background-color: #00ce90;
    color: #fff;
    height: 620px;
}
.plans-cont .card.green h2 {
    color: #fff;
    border-bottom: 3px solid rgba(255, 255, 255, 0.412);
}
.plans-cont .card.green button {
    border: 3px solid #fff;
    color: #fff;
}
.plans-cont .card.green button:hover {
    border: 3px solid #fff;
    background-color: #fff;
    color: var(--drkgreen);
}
.custom-pkgs {
    width: 100%;
    background-color: rgba(164, 240, 217, 0.15);
    padding: 30px 50px 50px 50px;
    margin: 20px 0;
}
.custom-pkgs form {
    max-width: 700px;
}
.custom-pkgs h2 {
    color: var(--drkgreen);
    text-shadow: 0 0 10px #00ffd562;
    border-bottom: 3px solid rgba(128, 128, 128, 0.384);
    padding: 10px;
    margin: 20px;
    text-align: center;
}
.custom-pkgs p {
    text-align: center;
    width: 100%;
    color: var(--grsgreen);
    max-width: 500px;
    margin: 20px 0;
}
.custom-pkgs hr {
    opacity: 0.3;
    margin-bottom: 20px;
}
.cst-plns-card {
    max-width: 200px;
    min-width: 198px;
    height: 250px;
    background-color: var(--tgreen);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
    padding: 20px;
    margin: 20px 10px;
}
.cst-plns-card.white {
    background-color: #fff;
}
.cst-plns-card.white h3 {
    color: var(--drkgreen);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
}
.cst-plns-card h3 {
    width: 100%;
    text-align: center;
    margin: 0 0 10px 0;
    padding: 10px 0;
    color: var(--grsgreen);
    text-shadow: 0 0 10px rgb(39, 231, 151);
    border-radius: 2px;
    border-bottom: 1px solid #032e213a;
}
.cst-plns-card div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.096);
    border-bottom: 1px solid rgba(0, 0, 0, 0.096);
}
.cst-plns-card div:nth-child(2), .cst-plns-card div:nth-child(4), .cst-plns-card div:nth-child(6), .cst-plns-card div:nth-child(8), .cst-plns-card div:nth-child(10) {
    background-color: rgba(0, 0, 0, 0.096);
}
.cst-plns-card label {
    font-weight: 400;
    color: var(--grsgreen);
}
.custom-pkgs form button {
    width: 120px;
    padding: 10px 0;
    font-size: 1.2em;
    border-radius: 5px;
    border: 3px solid;
    transition: all 1.00s;
    margin: 0 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.custom-pkgs form .form-sbmt {
    border-color: var(--drkgreen);
    color: var(--drkgreen);
}
.custom-pkgs form .form-rest {
    border-color: rgb(238, 105, 105);
    color: rgb(238, 105, 105);
}
.custom-pkgs form .form-rest:hover {
    background-color: rgb(238, 105, 105);
    color: rgb(255, 255, 255);
}
.custom-pkgs form .form-sbmt:hover {
    background-color: var(--drkgreen);
    color: rgb(255, 255, 255);
}
.custom-pkgs .order-btn {
    width: 120px;
    padding: 10px 0;
    font-size: 1.2em;
    border-radius: 5px;
    border: 3px solid;
    transition: all 1.00s;
    border-color: var(--tgreen);
    color: var(--drkgreen);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.custom-pkgs .total {
    font-weight: 500;
    font-size: 1.5em;
}
.order-btn:hover {
    background-color: var(--drkgreen);
    color: rgb(255, 255, 255);
}
.book-appnt {
    padding: 20px 0;
    margin: 20px 0;
    background: url(cta-bg.jpg) top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.63);
    color: #fff;
}
.book-appnt .booking-cnt {
    text-align: center;
    width: 100%;
    max-width: 750px;
}
.booking-cnt h3 {
    margin: 10px 0;
    padding: 10px 20px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    border-top: 3px solid rgba(255, 255, 255, 0.5);
}
.booking-cnt p {
    margin: 10px 0;
}
.booking-cnt button {
    color: #fff;
    width: 200px;
    padding: 10px 0;
    font-size: 1.2em;
    border-radius: 5px;
    border: 3px solid;
    transition: all 1.00s;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.booking-cnt button:hover {
    background-color: rgb(255, 255, 255);
    color: var(--drkgreen);
    border-color: white;
}
.contact {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 30px 20px;
    background-color: rgb(240, 243, 242);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.247);
}
.contact > h2 {
    color: var(--drkgreen);
    margin: 20px 0;
    padding: 10px 20px;
    border-bottom: 3px solid rgba(156, 156, 156, 0.5);
    border-top: 3px solid rgba(156, 156, 156, 0.5);
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.247);
}
.contact form {
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
}
.contact-cont, .form-cont {
    width: 100%;
    max-width: 820px;
}
.contact-cont .cntct-card {
    background-color: var(--tgreen);
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 250px;
}
.cntct-card h2 {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.247);
    margin: 5px 0;
}
.cntct-card p {
    color: var(--grsgreen);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.247);
    margin: 5px 0;
}
.contact-cont .cntct-card:nth-child(2) {
    background-color: #fff;
}
.contact-cont .cntct-card:nth-child(2) h2 {
    color: var(--drkgreen);
    text-shadow: none;
}
.contact form h2 {
    width: 100%;
    color: var(--drkgreen);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.082);
    margin: 10px 0;
    border-top: 3px solid rgba(156, 156, 156, 0.068);
    text-align: center;
    padding: 20px 0;
}
.contact form input {
    width: 250px;
    height: 25px;
    font-weight: 500;
    font-size: 18px;
}
.contact form textarea {
    font-weight: 500;
    font-size: 15px;
}
.contact form #mail-send-btn {
    font-size: 1.2em;
    font-weight: 500;
    color: #ffffff;
    background-color: var(--drkgreen);
    box-shadow: 0 0 5px var(--drkgreen);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
    overflow: hidden;
    height: 35px;
}
.contact form #mail-send-btn:hover ion-icon {
    transform: translateX(5px) translateY(-5px);
    font-size: 1.25em;
    font-weight: 900;
}
.contact form #mail-send-btn:hover {
    font-size: 1.15em;
}
.contact form #mail-send-btn:active ion-icon {
    transform: translateX(50px) translateY(-50px);
}

/* ======= Back to top -BTN ======= */

.back-to-top {
    display: none;
    position: fixed;
    color: white;
    background-color: var(--drkgreen);
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0000006c;
    right: 3%;
    bottom: 3%;
    border: 2px solid var(--drkgreen);
    transition: 0.4s;
}
.back-to-top:hover {
    color: var(--drkgreen);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--drkgreen);
}

/* ======= Footer ======== */

footer {
    background-color: #000000;
    color: #fff;
}
footer > h2 {
    padding: 30px;
    text-align: center;
    color: var(--tgreen);
    background-color: rgb(19, 18, 18);
}
footer .foot-soc-links {
    width: 100%;
    padding: 10px 30px 30px 30px;
    text-align: center;
    color: var(--tgreen);
    background-color: rgb(19, 18, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.foot-soc-links ion-icon {
    color: #fff;
    font-size: 1.5em;
    transition: all 0.5s;
}
.foot-soc-links ion-icon:hover {
    color: rgb(161, 7, 7);
}
.ft-links-cont {
    width: 100%;
    padding: 30px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ft-links-cont > div {
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ft-links-cont h2 {
    color: white;
    text-align: center;
}
.ft-links-cont ul {
    list-style-type: none;
    margin: 10px;
}
.ft-links-cont li {
    margin: 10px 0;
}
.ft-links-cont a {
    color: white;
    margin: 15px;
}
.ft-links-cont a:hover {
    color: var(--drkgreen);
    font-weight: bold;
}
.usfl-links, .srvcs-links {
    width: 300px;
    margin: 20px 0;
    color: var(--drkgreen);
    list-style-type: none;
}
footer > p {
    color: #757474;
    font-size: 15px !important;
    padding-bottom: 10px;
    text-align: center;
}

/* ======= Media Queries ======= */

/* _____________ Desktop PC, Large laptops, Large Screens __________ */
@media (min-width: 1024px) {
    .hero {
        background-attachment: fixed;
    }
    .hero h1, .hero h2 {
        width: 50%;
    }
}

/* ________________________ Small Laptops, I-pads ___________________ */
@media (min-width: 768px) {
    .about {
        flex-direction: row;
    }
    header .nav-links {
        display: flex;
    }
    .plans-cont {
        max-width: 1000px;
    }
    .plans-cont .card.green {
        height: 640px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* _____________________________  Tabs, Phones ______________________ */
@media (max-width: 768px) {
    .hero {
        height: 100vh;
    }
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    .hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    header .nav-links { 
        display: none;
    }
    header #nav-toggle-btn {
        display: initial;
    }
}

/* ____________________________ Tabs ___________________________________ */
@media only screen and (min-width: 500px) {
    .plans-cont {
        max-width: 1000px;
    }
}

/* ========== Animations ========== */

@keyframes carousel {
    0% {display: flex;}
    100% {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}
@keyframes carousel-end {
    0% {
        transform: translateX(-50px);
    }
    50% {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    100% {
        transform: translateX(50px);
    }
}

